html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #16181e;
    color: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 1em;
}

a{
    color: inherit;
}

.container{
    box-sizing: inherit;
    margin: 0 auto;
    margin-top: 2em;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;
    position: relative;
}


/* HEADER */

header{
background: #212121;
padding: 3px 20px;
box-shadow: 0 10px 17px rgba(0,0,0,0.15);
}

.navbar ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
}

.navbar ul li {
    margin: 10px;
}

.navbar ul li:last-child{
    margin-left: auto;
}

.search input[type="text"],
.search-btn{
    padding: 8px;
    border-radius: 2px;
    border: none;
    font-size: 0.9em;
}

.search-btn{
    padding: 8px 14px;
    margin-left: 0.3em;
}

.navbar ul li:nth-child(1){
    font-size: 1.2em;
    border: 5px solid rgba(0, 0, 0, 0.619);
    padding: 8px 15px;
    background: #474747;
}

/* BODY */

.container .item{
    margin: 1em;
    text-align: center;
    text-decoration: none;
}

.container .item .poster{
    width: 185px;
    height: 278px;
    background-position: center;
    background-size: cover;
    margin-bottom: .5em;
    box-shadow: 0 10px 17px rgba(0,0,0,0.15);
}

.container .item p{
    width: 185px;
    font-size: 0.9em;
    text-align: left;
    color: #ccc;
}

.item p:nth-child(3){
    margin-top: 0.5em;
    color: #777;
}

/* MEDIA QUERY */
@media (max-width: 768px){
    .navbar ul{
        flex-direction: column;
    }

    .search{
        margin: 10px auto;
    }

    .navbar ul li:nth-child(1){
        margin-bottom: 5px;
        padding: 5px 10px;
    }

    .navbar ul li{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .search input[type="text"]{
        width: 150px;
    }

    .navbar ul li:last-child{
        margin-left: 0;
    }

    .box-1{
        flex-direction: column;
        display: initial;
        align-items: center;
    }

    .info{
        margin-top: 10px;
    }
}

@media (min-width: 769px){
    .single_poster{
         flex: 0 0 185px;
    }
       
}

/* SINGLE */

.box{
    box-sizing: inherit;
    width: 100%;
    height: auto;
    background: #ccc;
    padding: 1em;
}

.single_poster{
    width: 185px;
    height: 278px;
    background-position: center;
    background-size: cover;
    margin-bottom: .5em;
    box-shadow: 0 10px 17px rgba(0,0,0,0.15);
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; 
}

.pt-2{
    padding-bottom: 2em;
}

.box-1{
    margin-bottom: 0;
    display: flex;
}

.box-2{
    margin-top: 0;
    margin-bottom: 0;
}

.mt-1{
    margin-top: 1em;
}

.mt-2{
    margin-top: 2em;
}

.info table tr td {
    color: #333;
    align-self: baseline;
    padding: 3px 20px;

}

.bold{
    font-weight: 700;
}

.box-3{
    padding: 0;
}

.box-3 p{
    color: #333;
    margin-top: 15px;
    text-align: center;
}

.box-3 p:nth-child(1)::before,
.box-3 p:nth-child(1)::after{
    content: " ---- ";
}

.related-movies{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.related-movies a{
    text-decoration: none;
}

.related-movies a .poster{
    margin: 0.5em;
    width: 185px;
    height: 278px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 17px rgba(0,0,0,0.15);
}
