*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #16181e;
    color: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
    font-weight: light;
    margin: 1em;
}

a{
    color: inherit;
}

.container{
    margin: 0 auto;
    margin-top: 2em;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 6em;
    position: relative;
}


/* HEADER */

header{
background: #212121;
padding: 3px 20px;
box-shadow: 0 10px 17px rgba(0,0,0,0.15);
}

.navbar ul {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li {
    margin: 10px;
}

#search{
    margin-left: auto;
    align-self: center;
}

#search input[type="text"],
.search-btn{
    padding: 8px;
    border-radius: 2px;
    border: none;
    font-size: 0.9em;
    outline: none;
}

.search-btn{
    padding: 8px 14px;
    margin-left: 0;
}

.navbar ul li:nth-child(1){
    font-size: 1.2em;
    border: 5px solid rgba(0, 0, 0, 0.619);
    padding: 8px 15px;
    background: #474747;
}

/* BODY */

.container .item{
    margin: 1em;
    text-align: center;
    text-decoration: none;
}

.container .item .poster{
    width: 185px;
    height: 278px;
    background-position: center;
    background-size: cover;
    margin-bottom: .5em;
    box-shadow: 0 10px 17px rgba(0,0,0,0.15);
}

.container .item p{
    width: 185px;
    font-size: 0.9em;
    text-align: left;
    color: #ccc;
}

.item p:nth-child(3){
    margin-top: 0.5em;
    color: #777;
}

/* MEDIA QUERY */
@media (max-width: 768px){
    .navbar ul{
        flex-direction: column;
    }

    #search{
        margin: 10px auto;
    }

    .navbar ul li:nth-child(1){
        margin-bottom: 5px;
        padding: 5px 10px;
    }

    .navbar ul li{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #search input[type="text"]{
        width: 190px;
    }

}
